# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for data science
- List common libraries for data science
- List data science tools
- Writing code for evaluating arithmetic expressions
- Writing a code snippet for converting minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. PyTorch
3. Caffe
4. OpenCV

| Data Science Tools |
|------------------  |
| Jupyter Notebook   |
| Apache Spark       |
| RStudio            |
| IBM DB2            |

### Below are a few examples of evaluating arithmetic expressions in Python
3+4*(5-2)<br>
10/2*(2+4)

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
print("200 minutes are equal to {0} hours ".format(200/60))

200 minutes are equal to 3.3333333333333335 hours

## Author
Amal Huda